html{
    font-family:'Courier New', Courier, monospace;
    background-color: lightblue;
    background-image: url('/Images/Blackjack\ background.jpg');
    background-size: cover;
    position: relative;
}

h1{
    margin-top: 5%;
    text-align: center;
    color: yellow;
    background-color: black;
    border: solid;
    width: 800px;
    margin-left: 540px;
    font-size: xxx-large;
}

#save-el{
    margin-top: 30px;
    text-decoration: underline;
}
#AI-save-el{
    margin-top: 5px;
    text-decoration: underline;
}
#AI-count-el{
color: red;
}

#count-el{
    color: red;
}
.headerAI{
    text-align: center;
    margin-left: 630px;
    color: yellow;
}
.player1{
display: block;
border: solid yellow;
border-radius: 20px;
background-color: white;
text-align: center;
margin: 200px 20px 20px 500px;
height: 200px;
width: 260px;
}

.AI{
    display: block;
    border: solid yellow;
    border-radius: 20px;
    background-color: white;
    text-align: center;
    margin: -273px 20px 20px 1130px;
    height: 200px;
    width: 260px;
}
#words{
    color: brown;
}
